body {
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 260px;
  background-color: #e4e4e6;
  text-align: center;
}
/**/
h1 {
  font-size: 50pt;
}

p {
  font-size: 20pt;
}

a {
  font-size: 15pt;
}

#learning-exp {
  color: #4f4a4a;
}

#continue {
  color: #4f4a4a;
}

#green-pill {
  color: #2ecc71;
  text-decoration: none;
}

#green-pill:hover {
  text-shadow: 0 0 3px #2ecc71;
}

#red-pill {
  color: #e74c3c;
  text-decoration: none;
}

#red-pill:hover {
  text-shadow: 0 0 3px #e74c3c;
}

.trials {
  color: #e4e4e6;
  width: 200px;
  background-color: black;
}

/*Tech Sprints*/

.index {
  border: black;
  display: flex;
  justify-content: center;
}

.tech-box {
  padding: 5px;
  margin-bottom: 0px auto;
  border: black;
  display: flex;
  justify-content: center;
}

.tech1 {
  color: #e4e4e6;
  background-color: #38456a;
  text-decoration: none;
}

.sprint1-title {
  color: #e4e4e6;
  background-color: #38456a;
}

.sprint1-title-box {
  padding: 5px;
  border: black;
  display: flex;
  justify-content: center;
  background-color: #38456a;
  color: #e4e4e6;
}

.tech2 {
  color: #e4e4e6;
  text-decoration: none;
  background-color: #1a332b;
}

#sprint2-title {
  color: #e4e4e6;
}

#sprint2-title-box {
  padding: 5px;
  border: black;
  display: flex;
  justify-content: center;
  background-color: #1a332b;
}

.section {
  display: flex;
  padding-bottom: 5rem;
}

.topic1 {
  flex-direction: row;
}

.topic2 {
  flex-direction: row-reverse;
}

.column {
  width: 50%;
}

.justify-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-bottom-small {
  margin-bottom: 2em;
}

.tech3 {
  color: #e4e4e6;
  background-color: #4e5a42;
  text-decoration: none;
}

.tech4 {
  color: #e4e4e6;
  text-decoration: none;
  background-color: #4f4a4a;
}

.tech5 {
  color: #e4e4e6;
  text-decoration: none;
  background-color: #6c0101;
}

.link {
  width: 15rem;
}

#blog-icon-tech {
  color: #e4e4e6;
  background-color: #263947;
  text-decoration: none;
}

/*Culture Sprints*/

#blog-icon-cult {
  color: #e4e4e6;
  background-color: #005e59;
  text-decoration: none;
}

/*misc buttons*/

#home-button {
  display: flex;
  color: #4f4a4a;
  justify-content: center;
  text-decoration: none;
}

#youll-be-back {
  text-decoration: none;
  color: #4f4a4a;
}
